Haré algunas tareas con el desafío de los juegos olímpicos

In [1]:
import pandas as pd
import numpy as np
df = pd.read_csv('athlete_events.csv')

In [2]:
df.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

In [2]:
print(df)

            ID                      Name Sex   Age  Height  Weight  \
0            1                 A Dijiang   M  24.0   180.0    80.0
1            2                  A Lamusi   M  23.0   170.0    60.0
2            3       Gunnar Nielsen Aaby   M  24.0     NaN     NaN
3            4      Edgar Lindenau Aabye   M  34.0     NaN     NaN
4            5  Christine Jacoba Aaftink   F  21.0   185.0    82.0
...        ...                       ...  ..   ...     ...     ...
271111  135569                Andrzej ya   M  29.0   179.0    89.0
271112  135570                  Piotr ya   M  27.0   176.0    59.0
271113  135570                  Piotr ya   M  27.0   176.0    59.0
271114  135571        Tomasz Ireneusz ya   M  30.0   185.0    96.0
271115  135571        Tomasz Ireneusz ya   M  34.0   185.0    96.0

                  Team  NOC        Games  Year  Season            City  \
0                China  CHN  1992 Summer  1992  Summer       Barcelona
1                China  CHN  2012 Summer  2012  Summer          London
2              Denmark  DEN  1920 Summer  1920  Summer       Antwerpen
3       Denmark/Sweden  DEN  1900 Summer  1900  Summer           Paris
4          Netherlands  NED  1988 Winter  1988  Winter         Calgary
...                ...  ...          ...   ...     ...             ...
271111        Poland-1  POL  1976 Winter  1976  Winter       Innsbruck
271112          Poland  POL  2014 Winter  2014  Winter           Sochi
271113          Poland  POL  2014 Winter  2014  Winter           Sochi
271114          Poland  POL  1998 Winter  1998  Winter          Nagano
271115          Poland  POL  2002 Winter  2002  Winter  Salt Lake City

                Sport                                     Event Medal
0          Basketball               Basketball Men's Basketball   NaN
1                Judo              Judo Men's Extra-Lightweight   NaN
2            Football                   Football Men's Football   NaN
3          Tug-Of-War               Tug-Of-War Men's Tug-Of-War  Gold
4       Speed Skating          Speed Skating Women's 500 metres   NaN
...               ...                                       ...   ...
271111           Luge                Luge Mixed (Men)'s Doubles   NaN
271112    Ski Jumping  Ski Jumping Men's Large Hill, Individual   NaN
271113    Ski Jumping        Ski Jumping Men's Large Hill, Team   NaN
271114      Bobsleigh                      Bobsleigh Men's Four   NaN
271115      Bobsleigh                      Bobsleigh Men's Four   NaN

[271116 rows x 15 columns]

In [3]:
df.columns

Index(['ID', 'Name', 'Sex', 'Age', 'Height', 'Weight', 'Team', 'NOC', 'Games',
       'Year', 'Season', 'City', 'Sport', 'Event', 'Medal'],
      dtype='object')

Lo siguiente es para calcular el número de ciudades donde se han realizado los juegos.

In [3]:
num_ciudades = df['City'].value_counts().shape
print(num_ciudades)

(42,)

Lo siguiente es para saber la proporción de hombres y mujeres en todos los juegos.

In [14]:
proporcion = df['Sex'].value_counts() / len(df["Sex"])
print(proporcion)

M    0.725129
F    0.274871
Name: Sex, dtype: float64

In [21]:
ano_primera_mujer = df[df['Sex'] == 'F']['Year'].min()
print(ano_primera_mujer)

1900

In [39]:
atletas_grandes = df[(df['Height'] > 190.0) & (df['Weight'] > 100.0)]
print(atletas_grandes)

            ID                         Name Sex   Age  Height  Weight  \
609        351   Julius Shareef Abdur-Rahim   M  23.0   202.0   104.0
614        355  Mukhamadmurod Abdurakhmonov   M  29.0   192.0   117.0
833        474      Essameldin Abou El-Nein   M  29.0   205.0   102.0
1124       628            Jacques Accambray   M  22.0   194.0   125.0
1125       628            Jacques Accambray   M  26.0   194.0   125.0
...        ...                          ...  ..   ...     ...     ...
270556  135315                Zsolt Zsombor   M  30.0   193.0   115.0
270740  135401           Eurelijus ukauskas   M  22.0   218.0   115.0
270741  135401           Eurelijus ukauskas   M  27.0   218.0   115.0
270742  135401           Eurelijus ukauskas   M  30.0   218.0   115.0
270801  135431                    Stipe uni   M  25.0   193.0   134.0

                 Team  NOC        Games  Year  Season            City  \
609     United States  USA  2000 Summer  2000  Summer          Sydney
614        Tajikistan  TJK  2016 Summer  2016  Summer  Rio de Janeiro
833             Egypt  EGY  1984 Summer  1984  Summer     Los Angeles
1124           France  FRA  1972 Summer  1972  Summer          Munich
1125           France  FRA  1976 Summer  1976  Summer        Montreal
...               ...  ...          ...   ...     ...             ...
270556        Hungary  HUN  2002 Winter  2002  Winter  Salt Lake City
270740      Lithuania  LTU  1996 Summer  1996  Summer         Atlanta
270741      Lithuania  LTU  2000 Summer  2000  Summer          Sydney
270742      Lithuania  LTU  2004 Summer  2004  Summer          Athina
270801        Croatia  CRO  2016 Summer  2016  Summer  Rio de Janeiro

             Sport                         Event   Medal
609     Basketball   Basketball Men's Basketball    Gold
614           Judo        Judo Men's Heavyweight     NaN
833     Basketball   Basketball Men's Basketball     NaN
1124     Athletics  Athletics Men's Hammer Throw     NaN
1125     Athletics  Athletics Men's Hammer Throw     NaN
...            ...                           ...     ...
270556   Bobsleigh          Bobsleigh Men's Four     NaN
270740  Basketball   Basketball Men's Basketball  Bronze
270741  Basketball   Basketball Men's Basketball  Bronze
270742  Basketball   Basketball Men's Basketball     NaN
270801   Athletics      Athletics Men's Shot Put     NaN

[2683 rows x 15 columns]

In [28]:
ano_primer_hombre = df[df['Sex'] == 'M']['Year'].min()
print(ano_primer_hombre)

1896

In [31]:
hombre_menor_edad = df[df['Sex'] == 'M']['Age'].min()
print(hombre_menor_edad)

10.0

In [4]:
anos_totales = df['Year'].unique()
print(np.sort(anos_totales))

[1896 1900 1904 1906 1908 1912 1920 1924 1928 1932 1936 1948 1952 1956
 1960 1964 1968 1972 1976 1980 1984 1988 1992 1994 1996 1998 2000 2002
 2004 2006 2008 2010 2012 2014 2016]

In [50]:
edad_promedio=df['Age'].mean()
print(edad_promedio)

25.556898357297374

In [52]:
datos_oros = df[(df['Age'] < 18) & (df['Medal'] == 'Gold')]
datos_oros.head(10)

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
710,404,"Louis Grenville ""Lou"" Abell",M,15.0,NaN,NaN,Vesper Boat Club,USA,1900 Summer,1900,Summer,Paris,Rowing,Rowing Men's Coxed Eights,Gold
2005,1109,Lavinia Agache (-Carney),F,16.0,148.0,40.0,Romania,ROU,1984 Summer,1984,Summer,Los Angeles,Gymnastics,Gymnastics Women's Team All-Around,Gold
4835,2762,Margarita Sergeyevna Aliychuk,F,17.0,174.0,48.0,Russia,RUS,2008 Summer,2008,Summer,Beijing,Rhythmic Gymnastics,Rhythmic Gymnastics Women's Group,Gold
5147,2929,Lynne Marie Allsup (-Olson),F,15.0,163.0,59.0,United States,USA,1964 Summer,1964,Summer,Tokyo,Swimming,Swimming Women's 4 x 100 metres Freestyle Relay,Gold
5826,3281,Simona Amnar (-Tabr),F,16.0,158.0,44.0,Romania,ROU,1996 Summer,1996,Summer,Atlanta,Gymnastics,Gymnastics Women's Horse Vault,Gold
6920,3883,Albert Per Andersson,M,17.0,NaN,NaN,Sweden,SWE,1920 Summer,1920,Summer,Antwerpen,Gymnastics,"Gymnastics Men's Team All-Around, Swedish System",Gold
10961,5989,Gaston Achille Louis Aumoitte,M,15.0,NaN,NaN,France,FRA,1900 Summer,1900,Summer,Paris,Croquet,"Croquet Mixed Singles, One Ball",Gold
10962,5989,Gaston Achille Louis Aumoitte,M,15.0,NaN,NaN,France,FRA,1900 Summer,1900,Summer,Paris,Croquet,Croquet Mixed Doubles,Gold
11779,6430,Shirley Frances Babashoff,F,15.0,178.0,67.0,United States,USA,1972 Summer,1972,Summer,Munich,Swimming,Swimming Women's 4 x 100 metres Freestyle Relay,Gold
11780,6430,Shirley Frances Babashoff,F,15.0,178.0,67.0,United States,USA,1972 Summer,1972,Summer,Munich,Swimming,Swimming Women's 4 x 100 metres Medley Relay,Gold

In [53]:
data_team = df[df['Team'] == 'Chile']
data_team.head(15)

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
181,79,Carlos Abarca Gonzlez,M,23.0,NaN,NaN,Chile,CHI,1924 Summer,1924,Summer,Paris,Boxing,Boxing Men's Featherweight,NaN
185,83,Carlos Arturo Abarza Chavez,M,22.0,NaN,NaN,Chile,CHI,1992 Summer,1992,Summer,Barcelona,Shooting,Shooting Mixed Skeet,NaN
194,89,Rodrigo Abasolo,M,21.0,NaN,NaN,Chile,CHI,1984 Summer,1984,Summer,Los Angeles,Rowing,Rowing Men's Coxed Eights,NaN
201,94,Ral Abatte,M,38.0,NaN,NaN,Chile,CHI,1984 Summer,1984,Summer,Los Angeles,Shooting,Shooting Mixed Trap,NaN
893,510,Melita Isidora Abraham Schssler,F,19.0,170.0,62.0,Chile,CHI,2016 Summer,2016,Summer,Rio de Janeiro,Rowing,Rowing Women's Lightweight Double Sculls,NaN
1150,636,Enrique Accorsi Teuthorn,M,31.0,NaN,NaN,Chile,CHI,1948 Summer,1948,Summer,London,Fencing,"Fencing Men's Foil, Individual",NaN
1151,636,Enrique Accorsi Teuthorn,M,31.0,NaN,NaN,Chile,CHI,1948 Summer,1948,Summer,London,Fencing,"Fencing Men's epee, Individual",NaN
1156,641,Jos Aceituno,M,23.0,167.0,58.0,Chile,CHI,1960 Summer,1960,Summer,Roma,Athletics,"Athletics Men's 5,000 metres",NaN
1274,714,Juan Acosta Umazabal,M,29.0,NaN,NaN,Chile,CHI,1936 Summer,1936,Summer,Berlin,Athletics,Athletics Men's Marathon,NaN
1275,715,Julio Csar Acosta Gonzlez,M,29.0,160.0,62.0,Chile,CHI,2016 Summer,2016,Summer,Rio de Janeiro,Weightlifting,Weightlifting Men's Featherweight,NaN
1876,1029,Carlos Adueza Troll,M,20.0,NaN,NaN,Chile,CHI,1952 Summer,1952,Summer,Helsinki,Rowing,Rowing Men's Single Sculls,NaN
2247,1244,Felipe Aguilar Schler,M,41.0,170.0,72.0,Chile,CHI,2016 Summer,2016,Summer,Rio de Janeiro,Golf,Golf Men's Individual,NaN
2274,1260,Domingo Omar Aguilar Cardenas,M,24.0,171.0,62.0,Chile,CHI,1984 Summer,1984,Summer,Los Angeles,Athletics,"Athletics Men's 5,000 metres",NaN
2275,1260,Domingo Omar Aguilar Cardenas,M,24.0,171.0,62.0,Chile,CHI,1984 Summer,1984,Summer,Los Angeles,Athletics,"Athletics Men's 10,000 metres",NaN
2276,1260,Domingo Omar Aguilar Cardenas,M,24.0,171.0,62.0,Chile,CHI,1984 Summer,1984,Summer,Los Angeles,Athletics,Athletics Men's Marathon,NaN

In [59]:
porcentaje_paises = df['Medal'].value_counts()
print(porcentaje_paises)

Gold      13372
Bronze    13295
Silver    13116
Name: Medal, dtype: int64

In [57]:
porcentaje_paises.to_csv('porc_paises.csv')